{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}


{% include 'create.html' %}


  {% if not profile %}
<div class="container">

  <div class="card shadow border-0 m-5 p-5">
<form action="{% url 'home' %}" method="POST">
{% csrf_token %}
{% bootstrap_form userform %}
<input type="submit" value="Update">
</form>
</div>
</div>
{% else %}
<div class="container-fluid mt-1 ">
<header class="rounded-1">
<div class="row">

  <div class="col-12 col-lg-6 p-3 m-auto">
    <div class="p-5">
    <h2><span class="text-secondary fs-2 fw-bold">{{profile.neighbourhood.name}}</span> Hood Blast</h2>
  

    <p>Hood blast gives you access to your hood.Stay woke</p>

    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#postModal">Post</button>
  </div>

  </div>
  <div class="col-12 col-lg-6 p-3">

    <img src="https://imganuncios.mitula.net/104_units_apartment_for_sale_at_kahawa_wendani_6770120592941810755.jpg" alt="" class="img-fluid">
  </div>

</div>


</header>
</div>
{% endif %}


{% endblock %}