{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}


{% include 'create.html' %}


  {% if not profile %}
<div class="container">

  <div class="card shadow border-0 m-5 p-5">
<form action="{% url 'home' %}" method="POST">
{% csrf_token %}
{% bootstrap_form userform %}
<input type="submit" value="Update">
</form>
</div>
</div>
{% else %}
<div class="container-fluid mt-1 ">
<header class="rounded-1">
<div class="row">

  <div class="col-12 col-lg-6 p-3 m-auto">
    <div class="p-5">
    <h2><span class="text-secondary fs-2 fw-bold">{{profile.neighbourhood.name}}</span> Hood Blast</h2>
  

    <p>Hood blast gives you access to your hood.Stay woke</p>

    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#postModal">Post / Business</button>
  </div>

  </div>
  <div class="col-12 col-lg-6 p-3">

    <img src="{{profile.neighbourhood.image.url}}" alt="" class="img-fluid">
  </div>

</div>


</header>


<div class="container">

  <div class="row">
    <div class="col-lg-8">
  <h2 class="text-center mt-2">What's up</h2>
  {% if posts %}
  {% for post in posts %}
  <div class="card mb-3 border-0">
    
    <div class="card-body">
    
    <img class="card-img img-fluid " src="{{post.image.url}}">

      <div class="card-text p-2 shadow">
      <h4>{{post.title}}</h4>
      <p>{{post.content}}</p>
      <p>By {{post.profile.name}}  {{post.created_at}}</p>
      </div>
    </div>

  </div>
  
  {% endfor %}
  {% endif %}
</div>

<div class="col-lg-4">
  <h2 class="mt-2">Businesses</h2>
  {% for business in businesses %}

  <div class="card border-0">
    <div class="card-body shadow">

      <h4>{{business.name}}</h4>
      <p>Located at <strong>{{business.neighbourhood.name}}</strong></p>
      <p>Contact <strong>{{business.email}}</strong></p>
    </div>
  </div>
  {% endfor %}
</div>

</div>
</div>
</div>
{% endif %}


{% endblock %}