<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><strong>hood blast</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contacts
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'contact' %}">Essential Contacts</a></li>
            <!-- <li><a class="dropdown-item" href="#">Police</a></li> -->
          
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <form action="{% url 'search' %}" class="d-flex">
        <input class="form-control me-2" name="search" type="search" placeholder="Search Post or Business" aria-label="Search">
        <button class="btn btn-outline-dark me-2" type="submit">Search</button>
      </form>
   
      <div class="navbar-nav m-auto">
        {% if not user.is_authenticated %}
        <div class="nav-item">
          <a href="" class="nav-link btn-dark text-white rounded-1">Login</a>
        </div>

        {% else %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{user.username}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="/accounts/logout">Logout</a></li>
          
          </ul>
        </li>
        {% endif %}
      </div>
    </div>


  </div>
</nav>